<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8">

    <title>Check-in</title>

    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="stylesheet" href="./css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div class="container">
    <h1>Awesome, you've checked in! </h1>
    <h3>Good job I hope you get a good job</h3>
    <p>Don't change when you grow up. I hope you get some change when you grow up. </p>
</div>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/script.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script></body>
</html>
