<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/style.css"/>
  <link rel="stylesheet" href="./css/materialize.min.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Class Exists</title>
</head>
<body>
<div class="container">
  <!-- <h1><%= title %></h1> -->
  <h1>Class Already Open!</h1>
  <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Admin Landing</span>
              <form action="insertClass" method="post">
                Which class do you want to open?
                <input type="text" name="className" id="checkinIdThing"/>
                <input type="submit" class="waves-effect waves-light btn" name="" value="submit">
              </form>
              </div>
            <div class="card-action">
              <button type="button" class="waves-effect waves-light btn" name="button" onclick="viewHistory()">View History</button>
            </div>
          </div>
        </div>
      </div>
</div>
</body>
</html>
