<% include partials/header %>

<div class="container">
    <h1>Welcome, admin. Please login: </h1>
  <!--  Dont sql inject me or xss me pls-->
    <ul></ul>

    <section>
      <form method="post" action= 'adminHome'>
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          <input placeholder="username" type="text" id="username" name="username" for = 'username'  required /> <br />
          <i class="material-icons prefix">lock</i>
          <input placeholder="password" type="password" id="password" name="password" required /> <br />
        </div>
          <input type="submit" class="waves-effect waves-light btn" value="Login">
          <a href= "checkin.html" class="waves-effect waves-light btn"><i class="material-icons left">query_builder</i>Check in now! </a>
      </form>
    </section>
  <h3 class="pink darken-1">Incorrect Password or Username</h3>
</div>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/script.js"></script>
    <% include partials/footer %>
